* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.pai {
  height: 100vh;
  border: 10px solid gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.filho1 {
	width: 200px;
  height: 200px;
  background: darkblue;
  order: 0;
  flex-grow: 1;
}
.filho2 {
	width: 200px;
  height: 200px;
  background: purple;
  flex: 5 1 400px;
}
.filho3 {
	width: 200px;
  height: 200px;
  background: orange;
}